<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Details</title>
</head>
<body>
<%- include('partials/error.ejs') %>
<div>
    <h2>Files in <%= folderName %></h2>
    <ul>
        <% if (locals.files && locals.files.length > 0) { %>
            <% files.forEach(file => { %>
                <li>
                    <%= file.fileName %> 
                    Size: <%= file.size %> bytes
                    Upload Time: <%= file.uploadAt %>
                    <a href="/download/<%= file.fileName %>"><button>Download</button></a>
                </li>
            <% }); } else { %>
                <p>No files in this folder.</p>
            <% } %>
    </ul>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="file">Select a file to upload:</label>
        <input type="file" id="file" name="file" required>
        <input type="submit" value="Upload">
    </form>
</div>
</body>
</html>
