<html>
    <head>
        <link rel="stylesheet" href="/css/create.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/form.css">
    </head>
    <body>
        <div id="container">
            <%- include("header.ejs") %>
            
<form method="post" action="/create/model" >

    <label for="name">Car name: 
        <input type="text" name="name" id="name" placeholder="X5"  style="text-transform: capitalize;"  value="<%= modelData ? modelData.name : '' %>">
    </label>

    <label for="model">Car model:
        <input type="text" name="model" id="model" placeholder="xDrive30Li" value="<%= modelData ? modelData.model : '' %>">
    </label>
    
    <label for="price">Price: 
        <input type="number" name="price" id="price" value="<%= modelData ? modelData.price : '' %>">
    </label>
    

    <label for="quantity">Quantity: 
        <input type="number" name="quantity" id="quantity" value="<%= modelData ? modelData.quantity : '' %>">
    </label>
    
    <input type="submit" value="submit">

</form>
        </div>
    </body>
</html>
